@model MvcMovie.Models.ProductModel;

<div class="card">
  <div class="card-header">Product Details</div>
  <div class="card-body">
    <h4>Id: @Model.id</h4>
    <h4>Title: @Model.title</h4>
    <h4>Price: @Model.price</h4>
  </div>
</div>
