@{
@using MvcMovie.Models;
@model MovieViewModel;

if(ViewData.ContainsKey("movies")){
    <div class="alert alert-success alert-dismissible">
        @ViewData["movies"];
    </div>
}
}

<div class="" style="diplay:flex;flex-direction:column;gap:10px;">
    <h2>Create Movie</h2>
    <form method="post" asp-action="Edit" asp-controller="Movie" style="display:flex;flex-direction:column;gap:10px;" >
        <label asp-for="id">Id:</label>
        <input type="text" asp-for="id">
        <span asp-validation-for="id"></span>

        <label for="genre">Genre:</label>
        <input type="text" asp-for="genre">
        <span asp-validation-for="genre"></span>


        <label for="Title">Title:</label>
        <input type="text" asp-for="Title">
        <span asp-validation-for="Title"></span>


        <label for="releaseDate">Release Date</label>
        <input type="date" asp-for="releaseDate">
        <span asp-validation-for="releaseDate"></span>


        <input type="submit" value="Update Movie" class="btn btn-success">

    </form>
</div>